@model MandaditosExpress.Models.TipoDeServicio

@{
    ViewBag.Title = "Eliminar Tipo de Servicio";
}

<div class="modal fade" id="deleteModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Eliminar este Tipo de Servicio!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>¿Estas Seguro que deseas eliminar esta Información?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DescripcionTipoDeServicio)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DescripcionTipoDeServicio)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EstadoTipoDeServicio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EstadoTipoDeServicio)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Delete", "TipoDeServicios", FormMethod.Post@*,
                    new { data_bind = "submit: show" }*@))
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-actions">
                        <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload()"><i class="fa fa-times"></i> Close </button>
                    </div>
                    }
                </div>
            </div> @*/.modal-content*@
        </div> @*/.modal-dialog*@
    </div> @*/.modal*@
</div>
