@model IEnumerable<MandaditosExpress.Models.TipoDeServicio>

@{
    ViewBag.Title = "Tipos de Servicios";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionTipoDeServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoTipoDeServicio)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:TipoDeServicio">
        <tr>
            <td data-bind="text:Id">
            </td>
            <td data-bind="text:DescripcionTipoDeServicio">
            </td>
            <td>
                <input type="checkbox" data-bind="checked: EstadoTipoDeServicio" disabled />
            </td>
            <td>
                <a data-bind="attr:{href:'@Url.Action("Edit/")'+Id}" class="btn btn-warning"> <i class="fa fa-pencil" title="Editar"></i> Editar</a>
                <a data-bind="attr:{href:'@Url.Action("Details/")'+Id}" class="btn btn-success"><i class="fa fa-info-circle" title="Detalles"></i> Detalles</a>
                <a class="btn btn-danger"><i class="fa fa-trash" title="Eliminar" data-bind="clik:$parent.showDeleteModal"></i> Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/knockout/knockout-3.5.1.js"></script>
    <script src="~/Scripts/viewmodels/TiposDeServiciosViewModel.js"></script>

    <script type="text/javascript">
        /*var tpServicio = new tiposDeServicios();*/
        var vm = function (tpservicios) {
            var self = this;

            self.TipoDeServicio = tpservicios;
            self.showDeleteModal = function () {
                //$.get($(event.target).attr('href'), function (d) {
                //    $('.body-content').prepend(d);
                //    $('#deleteModal').modal('show');
                //    ko.applyBindings(self, document.getElementById('deleteModal'));
                //});
                $('#deleteModal').modal('show');
                alert("va verga");
            };
        };


            /* ko.applyBindings(tpServicio);*/
            ko.applyBindings(vm(@Html.HtmlConvertToJson(Model)));
    </script>

}