@model MandaditosExpress.Models.Cliente

@{
    ViewBag.Title = "Agregar Cliente";
}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Agregar Clientes</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "HomeUser")">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Personas</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Clientes")">Clientes</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>Agregar</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.PrimerNombre, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.SegundoNombre, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.PrimerApellido, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.SegundoApellido, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row ">
                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="radioSexo" id="radioHombre" value="Hombre" checked />
                                                <label class="form-check-label" for="radioHombre">Hombre</label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="radioSexo" id="radioMujer" value="Mujer" />
                                                <label class="form-check-label" for="radioMujer">Mujer</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.EsEmpresa, htmlAttributes: new { @class = "control-label " })
                                            <div class="custom-checkbox">
                                                @Html.EditorFor(model => model.EsEmpresa)
                                                @Html.ValidationMessageFor(model => model.EsEmpresa, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            @Html.LabelFor(model => model.NombreDeLaEmpresa, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.NombreDeLaEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NombreDeLaEmpresa, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.RUC, htmlAttributes: new { @class = "control-label " })
                                            @Html.EditorFor(model => model.RUC, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RUC, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Guardar" class="btn btn-success" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>

                        <div class="ibox-footer">
                            <div class="col-md-12">
                                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default fa fa-arrow-left" })
                            </div>
                        </div>

                    </div>
            </div>
        </div>
        </div>
    </div>
