
@{
    @Html.Hidden("IndexHomeUserData");
}

@section Styles{
    <style>
        .navbar-static-top {
            background-color: white;
        }
    </style>
    <link href="~/Content/NiceAdmin.css" rel="stylesheet" />
}

<div class="row mt-4">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-white pull-right text-white">Todos</span>
                <h5>Envíos</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" data-bind="text:HomeUserData().TodosEnvios">0</h1>
                <small>Total de envíos</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Mensual</span>
                <h5>Envios</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" data-bind="text:HomeUserData().EnviosMensuales">0</h1>
                <small>Total envios mensuales</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Anual</span>
                <h5>Envios</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" data-bind="text:HomeUserData().EnviosAnuales">0</h1>
                <small>Total envios anuales</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Hoy</span>
                <h5>Envios</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins" data-bind="text:HomeUserData().EnviosDelDia">0</h1>
                <small>Total envios del día</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card" style="min-height:290px;">
            <div class="card-body">
                <h5 class="card-title p-1">Actividad reciente <span>| Últimos envíos</span></h5>

                <!--ko if: HomeUserData().EnviosHistorial().length > 0-->
                <div class="activity" data-bind="template:{foreach:HomeUserData().EnviosHistorial}">

                    <div class="activity-item d-flex">
                        <div class="activite-label">
                            <span data-bind="text:TiempoTranscurrido">0</span> Min
                        </div>
                        <i class="fa fa-circle activity-badge text-success align-self-start"></i>
                        <div class="activity-content">
                            <span data-bind="expandText:DescripcionDeEnvio"></span>
                        </div>
                    </div><!-- End activity item-->
                </div>
                <!--/ko-->
                <!--ko ifnot:HomeUserData().EnviosHistorial().length > 0-->
                <div class="justify-content-center">
                    <img src="~/Images/5.png" />
                    <div class="alert alert-warning alert-Empty m-0" role="alert">
                        Se encontraron 0 envíos para mostrar.
                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <canvas id="gr_enviosem"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 mb-5">
        <div class="widget bg-white no-padding">
            <div class="p-m">
                <h1 class="m-xs" data-bind="text:HomeUserData().EnviosRealizados">0</h1>

                <h3 class="font-bold no-margins">
                    Envíos Finalizados
                </h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3" style="padding: 0px; position: relative;"><canvas class="flot-base" width="362" height="125" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 289.8px; height: 100px;"></canvas><canvas class="flot-overlay" width="362" height="125" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 289.8px; height: 100px;"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-5">
        <div class="widget bg-white no-padding">
            <div class="p-m">
                <h1 class="m-xs" data-bind="text:HomeUserData().EnviosRechazados">0</h1>

                <h3 class="font-bold no-margins">
                    Envíos Rechazados
                </h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart4" style="padding: 0px; position: relative;"><canvas class="flot-base" width="362" height="125" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 289.8px; height: 100px;"></canvas><canvas class="flot-overlay" width="362" height="125" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 289.8px; height: 100px;"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget bg-primary p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-credit-card fa-4x"></i>
                <h1 class="m-xs" data-bind="text:HomeUserData().CreditosPendientes">0</h1>
                <h3 class="font-bold no-margins">
                    Crédito(s) Pendiente.
                </h3>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/knockout")
    <script src="~/Scripts/knockout/knockout.mapping.js"></script>
    @Scripts.Render("~/plugins/sweetalert")
    @Scripts.Render("~/plugins/notify")
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")

<script type="text/javascript">
        function IndexHomeUser(data) {
            let self = this;
            data = data || {};

            self.HomeUserData = ko.observable(data);
        }

        $(document).ready(function () {

            let HomeUserData = $("#IndexHomeUserData").val();
            ko.applyBindings(new IndexHomeUser(ko.mapping.fromJSON(HomeUserData)));

            //gráfico de barra sobre envios semanales
            let diasSemana = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"];
            let dataDiasSemana = @Html.Raw(Json.Encode(ViewBag.EnviosSemana));
         /*   let dataDiasSemana = [12,13,14,0,5,9,0];*/
            let ctx_envioSem = $("#gr_enviosem");

            const chart_envioSem = new Chart(ctx_envioSem, {
                type: 'bar',
                data: {
                    labels: diasSemana,
                    datasets: [{
                        label: "Envios en la semana",
                        data: dataDiasSemana,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                    }]
                }
            });

            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data3 = [
                { label: "Data 1", data: d1, color: '#488c6c' },
                { label: "Data 2", data: d2, color: '#198754' }
            ];

            $.plot($("#flot-chart3"), data3, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        }
                    },
                    points: {
                        width: 0.1,
                        show: false
                    }
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false
                }
            });

            var data4 = [
                { label: "Data 1", data: d1, color: '#fad29b' },
                { label: "Data 2", data: d2, color: '#f7a42f' }
            ];

            $.plot($("#flot-chart4"), data4, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        }
                    },
                    points: {
                        width: 0.1,
                        show: false
                    }
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false
                }
            });

        });
</script>
}
