@model MandaditosExpress.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó su contraseña?";
}

@section Styles {
    @Styles.Render("~/Content/site/register")
}

<style>

    .landing-page .navbar-default .nav li a {
        color: #000;
        font-family: 'Open Sans', helvetica, arial, sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .landing-page .navbar-fixed-top {
        border-bottom: 1px solid #e7eaec !important;
        background-color: #ffffff;
    }

    body.landing-page {
        color: #676a6c;
        font-family: 'Open Sans', helvetica, arial, sans-serif;
        background-color: #f8f8f8;
    }

    .register {
        width: 500px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
        -moz-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
        -webkit-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
        -o-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
        -ms-box-shadow: 0 15px 16.83px .17px rgba(0,0,0,.05);
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px
    }

    .signin-image {
        margin-left: 5px;
        margin-right: 20px;
        margin-top: 10px;
    }
</style>

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="register">
                <div class="signin-content">
                    <div class="signin-form">
                        <h3 class="form-title"><strong>@ViewBag.Title.</strong></h3>
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "register-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <h4 class="form-title">Especifique su correo electrónico.</h4>

                            <div class="form-group">
                                <label for="Email"><i class="fa fa-envelope"></i></label>
                                <input type="text" name="Email" id="your_name" placeholder="Correo Electronico" />
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group form-button">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-save">  Reestablecer</i>
                                </button>
                            </div>
                        }
                    </div>
                    <div class="signin-image">
                        <figure><img src="~/Images/signin-image.jpg" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}

