@using MandaditosExpress.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/font-awesome/css")
@Styles.Render("~/Content/site/register")

<style>
    .register {
        width: 800px;
    }

    .main {
        background: #f8f9fa;
        padding: 20px 0px 20px 0px;
    }
</style>

<body>
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="register">
                    <div class="signin-content">
                        <div class="signin-form">
                            <h2 class="form-title">Inicie Sesión</h2>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "register-form", role = "form" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                                            <input type="text" name="Email" id="your_name" placeholder="Correo Electronico" />
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Password"><i class="fa fa-key"></i></label>
                                            <input type="password" name="Password" id="your_pass" placeholder="Contrasña" />
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" name="RememberMe" value="true" style="display:inline-block;width:auto;" />
                                    <label for="RememberMe" class="label-esEmpresa"> Recordar Cuenta</label>
                                </div>

                                <div class="form-group form-button">
                                    <button type="submit" class="btn btn-success"> Iniciar Sesión </button>
                                    <a href="@Url.Action("ForgotPassword","Account")" class="signup-image-link" style="text-decoration:underline;">¿Ha olvidado su contraseña?</a>
                                </div>
                            }
                        </div>
                        <div class="signin-image">
                            @*<figure><img src="~/Images/signin-image.jpg" alt="sing up image"></figure>*@
                            <figure><img src="~/Images/Login.png" alt="sing up image"></figure>
                            <a href="@Url.Action("Create","Clientes")" class="signup-image-link" style="text-decoration:underline;">Crear una Cuenta</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")