@model MandaditosExpress.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
    Layout = null;
}

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/font-awesome/css")
@Styles.Render("~/Content/site/resetpass")

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="register">
                <div class="signin-content">
                    <div class="signin-form">
                        <h3 class="form-title"><strong>@ViewBag.Title</strong></h3>

                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Restablezca la contraseña.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="Email"><i class="fa fa-envelope"></i></label>
                                        <input type="text" name="Email" id="your_name" placeholder="Correo Electronico" />
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="Password"><i class="fa fa-key"></i></label>
                                        <input type="password" name="Password" placeholder="Contraseña" />
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="ConfirmPassword"><i class="fa fa-key"></i></label>
                                        <input type="password" name="ConfirmPassword" placeholder="Confirmar Contraseña" />
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br />

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="Restablecer" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="signin-image">
                        <figure><img src="~/Images/Login.png" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@Scripts.Render("~/bundles/jquery")

