@model IEnumerable<MandaditosExpress.Models.Pago>

@{
    ViewBag.Title = "Pagos";
    var Creditos = Html.HtmlConvertToJson(Model);

    @Html.Hidden("dt", Creditos);
}


@Styles.Render("~/Plugin/switches")

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pagos</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "HomeUser")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a>Catálogos</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Pagos</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="table-responsive">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Lista de Pagos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row col-lg-12">
                        <p>
                            <a class="btn btn-success float-left" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Agregar</a>
                        </p>
                    </div>

                    @if (Model.Count() > 0)
                    {
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Credito.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Envio.DescripcionDeEnvio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Moneda.NombreDeMoneda)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoDePago.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumeroDePago)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaDePago)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MontoDelPago)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cambio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EstadoDelPago)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Credito.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Envio.DescripcionDeEnvio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Moneda.NombreDeMoneda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDePago.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroDePago)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaDePago)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MontoDelPago)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cambio)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.EstadoDelPago)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }

                        </table>
                    }
                    else
                    {

                        <div class="alert alert-warning alert-Empty" role="alert">
                            Se encontraron 0 pagos  para mostrar <a href="@Url.Action("Create")" class="alert-link">Click aqui</a>. Para Agregar uno.
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



<!--ko with: ModalViewModel-->
<!--<modal params="{ ModalViewModel : $data }"></modal>-->
<!--/ko-->
<!--@Html.Partial("~/Views/Creditos/Templates/_CreditoTemplate.cshtml")
@Html.Partial("~/Views/Shared/KnockoutTemplates/_ModalTemplate.cshtml")

@section Scripts{
    @Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/switch")
    @Scripts.Render("~/bundles/IndexCreditos")
    @Scripts.Render("~/plugins/sweetalert")
    @Scripts.Render("~/plugins/notify")
}-->
