    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Mandaditos Express, delivery, entrega, envio">
        <!--<link rel="icon" href="img/favicon.ico">-->

        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/landing")
        @Styles.Render("~/font-awesome/css")
        @RenderSection("styles", required: false)


    </head>
    <body class="landing-page">
        <!--Navbar section-->
        <div class="navbar-wrapper">
            <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
                <div class="container">
                    <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Home")"><img src="~/Images/a2.jpg" width="30" height="30" class="d-inline-block align-content-center" alt=""/> Mandaditos</a>
                    <div class="navbar-header page-scroll">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Inicio", "Index", "Home", null, null, "top", null, new { @class = "page-scroll" })</li>
                            <li>@Html.ActionLink("Servicios", "Index", "Home", null, null, "features", null, new { @class = "page-scroll" })</li>
                            <li>@Html.ActionLink("Equipo", "Index", "Home", null, null, "team", null, new { @class = "page-scroll" })</li>
                            <li>@Html.ActionLink("Precios", "Index", "Home", null, null, "pricing", null, new { @class = "page-scroll" })</li>
                            <li>@Html.ActionLink("Contacto", "Index", "Home", null, null, "contact", null, new { @class = "page-scroll" })</li>
                            <li>@Html.ActionLink("Afiliación", "Create", "Motorizados", null, null, "", null, new { @class = "page-scroll" })</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Iniciar Sesion", "Index", "HomeUser",null,null,"",null,new { @class = "page-scroll", @target="_blank" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Iniciar Sesion", "Login", "Account", null, null, "", null, new { @class = "page-scroll", @target = "_blank" })</li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        @*//Mainly Views*@
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/plugins/wow")
        @Scripts.Render("~/bundles/plugins/landing")
        @RenderSection("scripts", required: false)
    </body>

</html>