
@{
    var PersonaActual = new MandaditosExpress.Models.Utileria.Utileria().BuscarPersonaPorUsuario(Request.GetOwinContext().Authentication.User.Identity.Name);
    var PersonaActualRol = new MandaditosExpress.Models.Utileria.Utileria().GetRolesDeUsuario(User.Identity.Name);
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    @Html.DisplayImage(PersonaActual != null ? PersonaActual.Foto : null)
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">
                            @if (PersonaActual != null)
                            {
                                <span>@PersonaActual.PrimerNombre @PersonaActual.PrimerApellido</span>
                            }
                        </span>
                        <span class="text-muted text-xs block">@PersonaActualRol<b class="caret"></b></span>
                    </a>
                    @*<ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                    <li><a class="dropdown-item" href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                    <li class="dropdown-divider"></li>
                </ul>*@
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "HomeUser")">
                <a href="@Url.Action("Index", "HomeUser")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Inicio</span></a>
            </li>


            @if (User.IsInRole("Cliente") || User.IsInRole("Admin"))
            {
                <!--Envios Option-->
                <li class="@Html.IsSelected(controller: "Envios")">
                    <a href=""><i class="fa fa-motorcycle"></i> <span class="nav-label" data-i18n="nav.dashboard">Envíos</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Envios")">Todos</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("IndexSolicitudes", "Envios")">Solicitud</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("IndexEnProceso", "Envios")">En Proceso</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("IndexFinalizados", "Envios")">Realizados</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("IndexRechazados", "Envios")">Rechazados</a>
                        </li>
                    </ul>
                </li>

                <!--Cotizacion -->
                <li class="@Html.IsSelected(controller: "Cotizaciones")">
                    <a href="@Url.Action("Index", "Cotizaciones")"><i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.dashboard">Cotizaciónes</span></a>
                </li>

            }

            @if (User.IsInRole("Cliente") || User.IsInRole("Admin"))
            {
                <!--Creditos Option-->
                <li class="@Html.IsSelected(controller: "Creditos")">
                    <a href="@Url.Action("Index", "Creditos")"><i class="fa fa-credit-card"></i> <span class="nav-label" data-i18n="nav.dashboard">Créditos</span></a>
                </li>

                <!--Pagos -->
                <li class="@Html.IsSelected(controller: "Index")">
                    <a href="@Url.Action("Index", "Pagos")"><i class="fa fa-google-wallet"></i> <span class="nav-label" data-i18n="nav.dashboard">Pagos</span></a>
                </li>
            }

            @if (User.IsInRole("Admin"))
            {
                <!--Personas Option-->
                <li class="@Html.IsSelected(controller: "Personas")">
                    <a href=""><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.dashboard">Personas</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="@Html.IsSelected(controller: "Clientes")">
                            <a href="@Url.Action("Index", "Clientes")">Clientes</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Motorizados")">
                            <a href="@Url.Action("Index", "Motorizados")">Motorizados</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Asistentes")">
                            <a href="@Url.Action("Index", "Asistentes")">Asistentes</a>
                        </li>
                    </ul>
                </li>
            }

            @if (User.IsInRole("Admin"))
            {
                <!--Catalogos Option-->
                <li class="@Html.IsSelected(controller: "Catalogos")">
                    <a href=""><i class="fa fa-list-alt"></i> <span class="nav-label" data-i18n="nav.dashboard">Catalogos</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Disponibilidad")">Disponibilidad</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "CalidadDeConexion")">Calidad de Conexión</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "TipoDeServicios")">Tipos de Servicio</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Servicios")">Servicios</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Monedas")">Monedas</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Costos")">Costos</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "CostosGestionBancaria")">Costos Gestion Bancaria</a>
                        </li>
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "TipoDePagos")">Tipos de Pago</a>
                        </li>
                    </ul>
                </li>
            }

            @if (User.IsInRole("Admin"))
            {
                <!--Busquedas y Consultas-->
                <li class="@Html.IsSelected(controller: "Consultas")">
                    <a href=""><i class="fa fa-search"></i> <span class="nav-label" data-i18n="nav.dashboard">Búsquedas</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="@Html.IsSelected(action: "BuscarClientes")">
                            <a href="@Url.Action("BuscarClientes", "Consultas")">Clientes por Fecha</a>
                        </li>
                    </ul>
                </li>
            }


            @if (User.IsInRole("Admin"))
            {
                <!--Busquedas y Consultas-->
                <li class="@Html.IsSelected(controller: "Personas")">
                    <a href=""><i class="fa fa-shield"></i> <span class="nav-label" data-i18n="nav.dashboard">Seguridad</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li class="@Html.IsSelected(action: "Index")">
                            <a href="@Url.Action("Index", "Personas")">Usuarios</a>
                        </li>
                        <li class="@Html.IsSelected(action: "CambiarContrasenia")">
                            <a href="@Url.Action("CambiarContrasenia", "Personas")">Cambiar Contraseña</a>
                        </li>
                        <li class="@Html.IsSelected(action: "DefaultPassword")">
                            <a href="@Url.Action("DefaultPassword", "Personas")">Contraseña por defecto</a>
                        </li>
                        <li class="@Html.IsSelected(action: "ConfirmacionManual")">
                            <a href="@Url.Action("ConfirmacionManual", "Personas")">Confirmación manual</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>