@model MandaditosExpress.Models.Cotizacion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Cotizacion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cliente.CorreoElectronico)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cliente.CorreoElectronico)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoDeServicio.DescripcionTipoDeServicio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoDeServicio.DescripcionTipoDeServicio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DescripcionDeCotizacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DescripcionDeCotizacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaDeLaCotizacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaDeLaCotizacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaDeValidez)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaDeValidez)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DireccionDeOrigen)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DireccionDeOrigen)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DireccionDestino)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DireccionDestino)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DistanciaOrigenDestino)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DistanciaOrigenDestino)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EsEspecial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EsEspecial)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MontoTotal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MontoDeDinero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MontoDeDinero)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
