@model MandaditosExpress.Models.Costo

@{
    ViewBag.Title = "Detalle del Costo";
}   

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Costos</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "HomeUser")">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Catálogos</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index")">Costo Bancarios</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>Detalles</strong>
                </li>
            </ol>
        </div>
    </div>

    <body>
        <div class="container">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox ">
                            <div class="ibox-content align-items-center">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4><i class="fa fa-info-circle"></i> Información detallada del Costo</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <div class="row">
                                            <div class="col-md-3">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Descripcion)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Descripcion)
                                                </dd>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.TipoDeServicioId)
                                                    </dt>
                                                    <dd>
                                                        @Html.DisplayFor(model => model.TipoDeServicio.DescripcionTipoDeServicio)
                                                    </dd>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.FechaDeInicio)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.FechaDeInicio)
                                                </dd>
                                            </div>

                                            <div class="col-md-3">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.FechaDeFin)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.FechaDeFin)
                                                </dd>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-3">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.DistanciaBase)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.DistanciaBase)
                                                </dd>
                                            </div>

                                            <div class="col-md-3 ">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.CostoDeGasolina)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.CostoDeGasolina)
                                                </dd>
                                            </div>

                                            <div class="col-md-3 ">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.CostoDeAsistencia)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.CostoDeAsistencia)
                                                </dd>
                                            </div>

                                            <div class="col-md-3 CostoDeMotorizadoContainer">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.CostoDeMotorizado)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.CostoDeMotorizado)
                                                </dd>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.PrecioPorKm)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.PrecioPorKm)
                                                </dd>
                                            </div>
                                            <div class="col-md-3">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.PrecioDeRecargo)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.PrecioDeRecargo)
                                                </dd>
                                            </div>
                                            <div class="col-md-3">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.PrecioDeRegreso)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.PrecioDeRegreso)
                                                </dd>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="ibox-footer">
                                <div class="col-md-12">
                                    @Html.ActionLink(" Regresar", "Index", null, new { @class = "btn btn-primary fa fa-arrow-left" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
