@model MandaditosExpress.Models.Servicio

@{
    ViewBag.Title = "Editar el Servicio";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>¿Está seguro que desea eliminar este servicio?</h3>
    <div>
        <h4>Servicio</h4>
        <hr />
        <dl class="dl-horizontal">
    
            <dt>
                @Html.DisplayNameFor(model => model.DescripcionDelServicio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DescripcionDelServicio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
