@model IEnumerable<MandaditosExpress.Models.Servicio>

@{
    ViewBag.Title = "Servicios";
    var Servicio = Html.HtmlConvertToJson(Model);

    @Html.Hidden("dt", Servicio);
}

@Styles.Render("~/Plugin/switches")


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Servicios</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "HomeUser")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a>Catálogos</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Servicio")">Servicio</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Inicio</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="table-responsive">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Lista de Servicios</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row col-lg-12">
                        <p>
                            <a class="btn btn-success float-left" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Agregar</a>
                        </p>
                    </div>

                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Nº")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DescripcionDelServicio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:Servicio">
                                <tr>
                                    <td data-bind="text:$index()+1"></td>
                                    <td data-bind="text:DescripcionDelServicio"></td>
                                    <td>
                                        <input type="checkbox" data-bind="checked:Estado" disabled />
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                                        <a data-bind="click:$root.ShowModal,attr:{href:'@Url.Action("/Edit")'}" class="btn btn-warning" id="btn-edit"> <i class="fa fa-pencil" title="Editar"></i> Editar</a>
                                        <a data-bind="click:$root.MostrarDetalles,attr:{href:'@Url.Action("Details")'}" class="btn btn-success"><i class="fa fa-info-circle" title="Detalles"></i> Detalles</a>
                                        <a data-bind="click:$root.ShowModal,attr:{href:'@Url.Action("/Delete")'}" class="btn btn-danger" id="btn-del"><i class="fa fa-trash" title="Eliminar"></i> Eliminar</a>


                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    }
                    else
                    {
                        <!--ko if:mostrarAlertVacio-->
                        <div class="alert alert-warning alert-Empty" role="alert">
                            Se encontraron 0 servicios para mostrar <a href="@Url.Action("Create")" class="alert-link">Click aqui</a>. Para Agregar uno.
                        </div>
                        <!--/ko-->
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!--ko with: ModalViewModel-->
<modal params="{ ModalViewModel : $data }"></modal>
<!--/ko-->

@Html.Partial("~/Views/Servicios/Templates/_ServicioTemplate.cshtml")
@Html.Partial("~/Views/Shared/KnockoutTemplates/_ModalTemplate.cshtml")


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/switch")
    @Scripts.Render("~/bundles/IndexServicio")
    @Scripts.Render("~/plugins/sweetalert")
    @Scripts.Render("~/plugins/notify")

    }