@model MandaditosExpress.Models.ViewModels.AsistenteViewModel


@{
    ViewBag.Title = "Agregar asistente";
}

<body>
    @Styles.Render("~/Plugin/switches")


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Agregar asistente</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "HomeUser")">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Catálogos</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index")">Asistente</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>Agrega Asistente</strong>
                </li>
            </ol>
        </div>
    </div>


    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-content align-items-center">

                            @*@using (Html.BeginForm("Create", "Clientes", FormMethod.Post, new { @class = "register-form", enctype = "multipart/form-data" }))*@
                            @using (Html.BeginForm("Create", "Asistentes", FormMethod.Post, new { enctype = "multipart/form-data" }))

                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Datos del asistente</h4>
                                    <hr />

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="text-center">
                                        <img src="~/Images/default_profile.png" class="avatar img-circle img-thumbnail" alt="avatar" height="100" width="100" style="height:100px;">
                                        <h6 class="mt-1" style="font-size:75%">Sube tu Foto de Perfil Aquí...</h6>
                                        <input type="file" accept="image/*" class="text-center center-block file-upload" name="file_foto" style="border-bottom:none;">
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                                                @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                                            </div>
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                @*<label for="Password"><i class="fa fa-key"></i></label>*@
                                                <!--<input type="password" name="Contraseña " placeholder="Contraseña" />-->
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @*<label for="ConfirmPassword"><i class="fa fa-key"></i></label>*@
                                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                @*<input type="password" name="ConfirmPassword" placeholder="Repite tu Contraseña" />*@
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PrimerNombre, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SegundoNombre, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PrimerApellido, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SegundoApellido, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    @*<div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label" })

                                                @Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label " })
                                            @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control Cedula" } })
                                            @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label " })
                                            @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FechaDeBaja, htmlAttributes: new { @class = "control" })
                                            @Html.EditorFor(model => model.FechaDeBaja, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                                            @Html.ValidationMessageFor(model => model.FechaDeBaja, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EstadoDeAsistente, htmlAttributes: new { @class = "control" })
                                            <div class="checkbox">
                                                @*@Html.EditorFor(model => model.Estado)*@
                                                @Html.ValidationMessageFor(model => model.EstadoDeAsistente, "", new { @class = "text-danger" })
                                                <input type="checkbox" value="true" name="EstadoDeAsistente" checked hidden>
                                                <input type="checkbox" data-toggle="switchbutton" data-size="xs" value="true" data-onstyle="info" name="EstadoDeAsistente"disabled checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="submit" value="Guardar" class="btn btn-success" />
                                    </div>
                                </div>


                            }

                            <div class="col-md-offset-2 col-md-10 ">
                                @Html.ActionLink("Regresar ", "Index", null, new { @class = "btn btn-primary fa fa-arrow-left" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/switch")
    <script src="~/Scripts/plugins/jquerymask/jquery.mask.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function () {
                readURL(this);
            });
            //mascara de la cédula
            $('.Cedula').mask('000-000000-0000S', { placeholder: "001-03121995-0005D" });
        });

      

    </script>
}