@model MandaditosExpress.Models.Moneda

@{
    ViewBag.Title = "Detalle de Monedas";
}

<body>
    <div>
        <h4>Moneda</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreDeMoneda)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreDeMoneda)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Abreviatura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Abreviatura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoMoneda)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoMoneda)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
