@model MandaditosExpress.Models.Moneda

@{
    ViewBag.Title = "Detalle de Monedas";
}

@Styles.Render("~/Plugind/switches")

<body>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Detalle de la Moneda</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "HomeUser")">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Catálogos</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Monedas")">Monedas</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>Detalles</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-content align-items-center">

                            <div>
                                <h4>Informacion detallada de la Moneda</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.NombreDeMoneda)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NombreDeMoneda)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Abreviatura)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Abreviatura)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Estado)
                                    </dd>

                                </dl>
                            </div>

                        </div>

                        <div class="ibox-footer">
                            <div class="col-md-12">
                                @Html.ActionLink(" Regresar", "Index", null, new { @class = "btn btn-default fa fa-arrow-left" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/switch")
}
