@model MandaditosExpress.Models.ViewModels.CostoBancarioIndexViewModel

@{
    ViewBag.Title = "Costos de la Gestion Bancaria";

    @Html.Hidden("dt");
}
@Styles.Render("~/Plugin/switches")

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="table-responsive">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Lista de Costos de Gestion Bancaria</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row col-lg-12">
                        <p>
                            <a class="btn btn-success float-left" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Agregar</a>
                        </p>
                    </div>

                    <!--ko if:CostoGetionBancaria().length > 0-->
                    <table class="table table-bordered table-CostosGestionBancaria">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nº")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaDeInicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaDeFin)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MontoDesde)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MontoHasta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoDeServicioId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:CostoGetionBancaria">

                            <tr>
                                <td data-bind="text:$index()+1"></td>
                                <td data-bind="text:Descripcion"></td>
                                <td data-bind="text:FechaDeInicioFormatted"></td>
                                <td data-bind="text:FechaDeFinFormatted"></td>
                                <td data-bind="text:MontoDesde"></td>
                                <td data-bind="text:MontoHasta"></td>
                                <td data-bind="text:TipoDeServicioDescripcion"></td>
                                <td>
                                    <span data-bind="text:(ko.unwrap(Estado) ? 'Activo':'Inactivo'), class:(ko.unwrap(Estado) ? 'badge badge-success':'badge badge-warning')"></span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a data-bind="click:$root.ShowModal,attr:{href:'@Url.Action("/Edit")'}" class="btn btn-warning btn-sm" id="btn-edit"> <i class="fa fa-pencil" title="Editar"></i> Editar</a>
                                            <a data-bind="click:$root.MostrarDetalles,attr:{href:'@Url.Action("Details")'}" class="btn btn-success btn-sm"><i class="fa fa-info-circle" title="Detalles"></i> Detalles</a>
                                            <a data-bind="click:$root.ShowModal,attr:{href:'@Url.Action("/Delete")'}" class="btn btn-danger btn-sm" id="btn-del"><i class="fa fa-trash" title="Eliminar"></i> Eliminar</a>
                                        }
                                        @if (User.IsInRole("Asistente"))
                                        {
                                            <a data-bind="click:$root.MostrarDetalles,attr:{href:'@Url.Action("Details")'}" class="btn btn-success btn-sm"><i class="fa fa-info-circle" title="Detalles"></i> Detalles</a>
                                        }
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <!--/ko-->
                    <!--ko if:mostrarAlertVacio-->
                    <div class="alert alert-warning alert-Empty" role="alert">
                        Se encontraron 0  costos de gestiones bancarias para mostrar <a href="@Url.Action("Create")" class="alert-link">Click aqui</a>. Para Agregar uno.
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
</div>


<!--ko with: ModalViewModel-->
<modal params="{ ModalViewModel : $data }"></modal>
<!--/ko-->

@Html.Partial("~/Views/CostosGestionBancaria/Templates/_CostoGestionBancariaTemplate.cshtml")
@Html.Partial("~/Views/Shared/KnockoutTemplates/_ModalTemplate.cshtml")


@section Scripts{
    @Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/switch")
    @Scripts.Render("~/bundles/IndexCostoGestionBancaria")
    @Scripts.Render("~/plugins/sweetalert")
    @Scripts.Render("~/plugins/notify")
    @Scripts.Render("~/plugins/moment")
}